{{yield}}
<div class="container">
  <h1 id="title">Welcome to Tic-Tac-Toe Challenge!</h1>

  <h3>Player 1 won {{this.player1Count}} times</h3>
  <h3>Player 2 won {{this.player2Count}} times</h3>

  {{#if this.isDraw}}
    <h2>{{this.drawMessage}}</h2>
  {{else if this.endGame}}
    <h2>{{this.winnerMessage}}</h2>
  {{else}}
    <h2>{{this.turnMessage}}</h2>
  {{/if}}


  {{ ttt-grid updateStatus=(action "updateStatus")}}
</div>